body {
  background: #222;
  overflow: hidden;
}

main::-webkit-scrollbar {
  width: 6px;
}

main::-webkit-scrollbar-track {
  background-color: #222;
}

main::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

main::-webkit-scrollbar-thumb:hover {
  background: #999;
}

main {
  position: fixed;
  top: 3.5em;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: scroll;
}

.material-icons {
  vertical-align: middle;
}

.prime-green {
  filter: brightness(0) saturate(100%) invert(32%) sepia(100%) saturate(1307%) hue-rotate(93deg) brightness(98%) contrast(105%);
}

.prime-red {
  filter: brightness(0) saturate(100%) invert(16%) sepia(42%) saturate(6385%) hue-rotate(355deg) brightness(100%) contrast(100%);
}

.rank-image {
  height: 26px;
}

#main-table tr td:last-child, .prime, .level, .login, .steam_name, .rank {
  white-space: nowrap;
  width: 1%;
}

.rank {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#main-table th {
  border-bottom: 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.prime img {
  height: 26px;
}

.form-control-color {
  width: 40px;
}

table tr td.preloader {
  display: none;
}

table tr.pending td.preloader {
  display: table-cell;
}

table tr.pending td:not(.login):not(.preloader) {
  display: none;
}

.preloader .progress {
  margin: 5.5px;
}

th {
  box-shadow: inset 0 -1px var(--bs-danger) !important;
  user-select: none;
}

.tooltip-inner {
  max-width: 500px !important;
}

th > .material-icons {
  font-size: 1.3em;
}

th {
  white-space: nowrap;
}

.sortable {
  cursor: pointer;
}

.sort-asc, .sort-desc {
  display: none;
}

th.sortable[data-sort-dir="ASC"] .sort-asc, th.sortable[data-sort-dir="DESC"] .sort-desc {
  display: inline-block;
}